HELP.md
.gradle
test_env.properties
build/
!**/src/main/**/build/
!**/src/test/**/build/
**/resources/files/
**/resources/archive/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

